<h1>Add a new anime to the available titles to review!</h1>

<%= render partial: "layouts/errors", locals: {object: @anime} %>

<%= form_for(@anime) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit %>
    <% end %>