<h1> Edit your review for <%= @review.anime.title %>!</h1>

<%= render partial: "layouts/errors", locals: {object: @review} %>

<%= form_for(@review) do |f| %>

    <%= f.label :rating %>
    <%= f.number_field :rating, :min => 1, :max => 10 %>

    <%= f.label :content %> 
    <%= f.text_area :content, :cols => 30, :rows => 8 %> 
    
    <%= f.submit %> 

<% end %>