<% if @anime %>
Reviews for <%= @anime.title%> 
<%= link_to 'click here to review this anime!', new_anime_review_path %>
<% else %>
All Reviews
<% end %>



<ul>
<% @reviews.each do |r| %>
    <li> <%= r.user.username%> rated <%= link_to r.anime.title, anime_path(r.anime_id) %> a <%= r.rating %> 
    Click the title to find out why!
    </li>
<% end %>
    </ul>

