<h1><%= new_display_header %></h1>

<%= render partial: "layouts/errors", locals: {object: @review} %>

<%= form_for([@review.anime,@review]) do |f| %>
    <% if !@review.anime %>
        <%= f.label :anime %>
        <%= f.collection_select :anime_id, Anime.all, :id, :title %> 
    <% else %> 
        <%= f.hidden_field :anime_id %>
    <% end %> 

    <%= f.label :rating %>
    <%= f.number_field :rating, :min => 1, :max => 10 %>
    <%= f.label :content %> 
    <%= f.text_area :content, :cols => 30, :rows => 8 %> 
    <%= f.submit %> 
<% end %>